#playbar 
{
   	opacity: 0.8;
 	background : #141313;
	width: 100%;
	text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    border-top: 2px solid white;
    margin: 0;
    padding: 0;
   	display : none;
   	-webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.5s;
    animation-name: slideIn;
    animation-duration: 0.5s
}
progress 
{
  height: 10px;
  margin: 18px auto;
  -webkit-appearance: none;
}
progress::-webkit-progress-bar 
{
	background: black;
	border-radius: 50px;
	padding: 2px;
	box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
}
/* Now the value part */
progress::-webkit-progress-value 
{
	border-radius: 50px;
	box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
	background:
		-webkit-linear-gradient( 45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
		-webkit-linear-gradient( top, rgba( 255, 255, 255, 0.25 ), rgba( 0, 0, 0, 0.2 ) ),
		-webkit-linear-gradient( left, #e6f0ff, #99c2ff );
	
	/* Looks great, now animating it */
	background-size: 25px 14px, 100% 100%, 100% 100%;
	-webkit-animation: move 5s linear 0 infinite;
}
@-webkit-keyframes move
{
	0% {background-position: 0px 0px, 0 0, 0 0}
	100% {background-position: -100px 0px, 0 0, 0 0}
}
#info, #cover, #controls, #chart, #chart:after, #chart div 
{
	display: inline-block;
}
#cover
{
	margin: 2px 5px 0px 5px;
}
#info
{
	font-size: 14px;
	font-weight: normal;
	font-family: Arial, Verdana, Sans-serif;
}
#status
{
	margin: 0px 5px 10px 5px;
	font-weight: normal;
	font-family: Arial, Verdana, Sans-serif;
}
#chart
{
	margin: 1px;
	width : 770px;
}
#chart:after

{
	content: "";
    height: 60px;
}
  
#chart div 
{
    width: 2px;
    background: #a00;
    margin: 0 0 0 1px;
    vertical-align: bottom;
}

#toggle
{
	position: fixed;
    right: 10px;
    bottom : 1px;
    color: grey;
}
#toggle:hover, #toggle:focus 
{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Add Animation */
@-webkit-keyframes slideIn 
{
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn 
{
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}