@CHARSET "UTF-8";

#playlist
{
	z-index: 2 !important;
	display: none;
	position: fixed;
	left: 1200px;
	top: 200px;
	z-index: 1;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	width: 400px;
	background : #0d0d0d;
	opacity: 0.8 !important;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	
	-webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.8s;
    animation-name: animatetop;
    animation-duration: 0.8s;
}
#playlistHeader 
{
	border-bottom: 2px white solid !important;
    padding: 5px 16px;
    color: white;
    background-color: #000208;
}

#playlistMenu
{
    color: white;
}
#playlistMenu:hover, #playlistMenu:focus  
{
    color: #f4511e;
    text-decoration: none;
    cursor: pointer;
}

#list, #list td
{
	border: none !important;
	text-align: center;
	vertical-align: middle !important;
}

tr:nth-child( even )
{
	background-color: #171819 !important;
}

/* Add Animation */
@-webkit-keyframes animatetop 
{
    from { top: -300px; opacity:0 } 
    to { top: 20%; opacity:0.8 }
}

@keyframes animatetop 
{
    from { top:-300px; opacity:0 }
    to { top: 20%; opacity:0.8 }
}