<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">

	<!-- dataSource -->
	<bean id="dataSource"
		class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:comp/env/jdbc/AOIDE"/>
	</bean>
	<!-- JdbcTokenRecordDAO -->
	<bean id="jdbcTokenRecordDAO" 
		class="com.aoide.springTest.dataBaseManipulationObjects.tokenRecord.JdbcTokenRecordDAO">
		<constructor-arg ref="dataSource"/>	
	</bean>
	<!-- UseTockenService -->
	<bean id="useTockenService" class="com.aoide.springTest.modol.UseTockenService" scope="prototype">
		<constructor-arg ref="jdbcTokenRecordDAO"/>
	</bean>
	
	<!-- Enable Annotation based Declarative Transaction Management -->
	<tx:annotation-driven proxy-target-class="true"
		transaction-manager="transactionManager" />
	<!-- Creating TransactionManager Bean, since JDBC we are creating of type 
		DataSourceTransactionManager -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	
		
</beans>
